<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casebook</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-casebook">
            <a class="navbar-brand text-muted h4" href="/">Casebook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a href="/" class="nav-link text-muted active h5">Home</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a href="/friends" class="nav-link text-muted active h5">Friends</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a href="/logout" class="nav-link text-muted active h5">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <hr class="my-2">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-flex flex-column">
                    <img src="png/male.png" class="mx-auto img-thumbnail" width="200" height="200">
                    <h4 class="mx-auto mt-3">Pesho</h4>
                    <h5 class="mx-auto mt-3">Male</h5>
                </div>
            </div>
        </div>
        <hr class="my-3">
    </main>
    <footer class="footer py-3">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2019. All
                rights reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>